<ion-header>
  <ion-toolbar>
    <ion-title>Playlists</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" (ionInput)="searchVideos($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-card *ngFor="let playlist of myVideos">
      <ion-item lines="none">
        <ion-button slot="end" fill="clear" (click)="showMenu(playlist)">
          <ion-icon name="more" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <img [src]="playlist.thumbnail ? playlist.thumbnail.url : '/assets/playlist.png'" />
      <ion-card-header>
        <ion-card-title>{{ playlist.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ playlist.description }}
      </ion-card-content>
      <ion-item>
        <ion-button fill="clear" slot="start" >
          <ion-icon slot="start" name="play"></ion-icon>
          Play
        </ion-button>
        <ion-button fill="clear" slot="start" >
          <ion-icon slot="start" name="videocam"></ion-icon>
          {{ playlist.count }} Videos
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>