<ion-header>
  <ion-toolbar  color="dark">
    <ion-buttons slot="start">
      <ion-button *ngIf="mode !== 'view'" (click)="save()">
        <ion-icon name="save-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Playlist </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal"  color="dark"> 
  <ion-card>
  <ion-list >
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [readonly]="mode === 'view'" [(ngModel)]="playlist.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [readonly]="mode === 'view'" [(ngModel)]="playlist.description"></ion-input>
    </ion-item>
  </ion-list>
  
    <ion-fab vertical="end" horizontal="end">
      <ion-fab-button>
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="imageButton()">
          <ion-icon name="images"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="linkButton()">
          <ion-icon name="link"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="cameraButton()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <img [src]="playlist.thumbnail ? playlist.thumbnail.url : '/assets/video.png'" />
    <ion-card-content>
      <ion-text>
        <p *ngIf="playlist.date">Date: {{ playlist.date | date }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>