<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>User details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark" class="ion-padding-horizontal">
  <ion-list>
    <ion-item color="dark">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input type="text" [(ngModel)]="user.surname"></ion-input>
    </ion-item>
  </ion-list> 
</ion-content>